
.aboutme
  // Grid properties
  display flex
  justify-content space-around
  align-items center

  background-color $color-silver

  &-author
    // Grid properties
    display flex

    &-photo
      // Grid properties
      display flex
      flex-direction column
      justify-content center

      width 300px
      height auto
      border-radius 50%

      > img
        width 100%
        height auto

    &-infos
      width 600px
      padding 25px
