h1,
h2,
h3
  // font-family $font-type-title
  color $color-silver-dark

h2
  font-size 3.3rem
  font-weight 800

p
  // font-family $font-type-title
  // font-weight 300
  color $color-black
  font-size 1.3rem
