
// Enable on development
// *
//   background-color rgba(0, 0, 0, 0.2)

*
  margin 0
  padding 0
  box-sizing border-box
  outline none

@import '_variables'
@import '_typography'
@import '_general'
@import 'introduction/_introduction'
@import 'aboutme/_aboutme'
